$('.query-result').html('');
$('.error').remove();

- if @query_form.errors.blank?
  $('.query-result').append("#{escape_javascript render 'result'}");
- else
  $('#query_form_cep').
  parent().
  append("<span class='error'>#{escape_javascript @query_form.errors.messages.dig(:cep).first} </span>");